BOT_TOKEN=
JWT_SECRET=
POSTGRES_USER=kontur
POSTGRES_PASSWORD=
POSTGRES_DB=kontur_db
DATABASE_URL=postgresql+asyncpg://kontur:REPLACE_PASSWORD@localhost:5432/kontur_db
REDIS_URL=redis://localhost:6379/0
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
